# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# IDE specific
.idea/
.vscode/

# Datasets
DIV2K/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db 